/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}

.myStyle {
  background-color: rgb(255, 170, 139);
  padding: 10px;
  margin: 1%;
  border-radius: 10px;
}

.myStyle:hover {
  background-color: rgba(154, 255, 139, 0.73);
  padding: 10px;
}

.brandName {
  color: rgba(35, 56, 75, 0.866);
}

.brandName:hover {
  background-color: rgb(255, 170, 139);
}

.modelName {
  font-weight: bold;
}